VITE_API_URL= https://flash-cards-salut-back.onrender.com/api #(если использовать бэк, который захосчен)
#VITE_API_URL = http://backend:5000/api #если запускать бэк локальный

LLM_API_KEY=your-api-key
LLM_MODEL=gpt-oss-120b
LLM_API_URL=https://ai.api.cloud.yandex.net/v1/responses
LLM_API_FOLDER=your-yandex-folder-id
LLM_MAX_OUTPUT_TOKENS=2000

VITE_SALUTE_SMARTAPP="Список задач"
VITE_SALUTE_TOKEN="token"

